<div ng-controller="player">
	
	<div class="logo intro-logo">
		<img src="images/masters-logo.svg" alt="EMA Masters Tournament" />
	</div>

	<p>Welcome text, instruction copy lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean convallis enim eget mi condimentum imperdiet. Nunc fringilla sem quis est laoreet efficitur. In tempor nisi sed justo vulputate, non pellentesque mi porttitor.</p>

	<form class="player-form">
		<label>Enter name: </label>
		<input type="text" name="player_name" ng-model="item.player"/>
		<button ng-click="save()" class="btn btn-primary">Start Playing!</button>
	</form>
</div>
