<div ng-controller="player">
	<h1>EMA Masters</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean convallis enim eget mi condimentum imperdiet. Nunc fringilla sem quis est laoreet efficitur. In tempor nisi sed justo vulputate, non pellentesque mi porttitor. Cras nisi est, bibendum dignissim nunc non, ullamcorper porttitor leo. Morbi congue ac nulla quis porta. Donec scelerisque mi eu orci ornare, et aliquam mauris efficitur. Morbi nec aliquet sapien, a porta felis.</p>

	<form>
		<label>Enter name: </label>
		<input type="text" name="player_name" ng-model="item.player"/>
		<button ng-click="save()" class="btn btn-primary">Start Playing!</button>
	</form>
</div>
